<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="easyfunc-view Sample Action Set"
            visible="true"
            id="easyfunc-view.core.actionSet">
         <menu
               label="easyfunc-view Sample &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;easyfunc-view Sample Action"
               icon="icons/sample.gif"
               class="org.easyfunc.view.core.SampleAction"
               tooltip="Hello, Mavenized Eclipse. easyfunc-view is built with Tycho"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="org.easyfunc.view.core.SampleAction">
         </action>
      </actionSet>
   </extension>

</plugin>
