<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.hcmut.easyfunc.contentAssist.EFCompletionProposalComputer"
         name="EFCompletionProposalComputer"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.jdt.ui.defaultProposalCategory"
            class="com.hcmut.easyfunc.contenAssist.EFCompletionProposalComputer"
            needsSortingAfterFiltering="true">
         <partition
               type="__dftl_partition_content_type">
         </partition>
      </javaCompletionProposalComputer>
   </extension>

</plugin>
