/* Application wide styles */

.hyperlink{
	-fx-font-weight: bold;
	-fx-font-size: 13px;
	
}

.scroll-pane{
	-fx-background-color: white ;	
}

#infomation{
	-fx-background-color: azure ;
}

.tab .label{
	-fx-text-fill: #4333ff;
	-fx-font-weight: bold;
	
}